a {
	color:purple;
}
*{
	text-align: center;	
}
.container{
	width:350px;
	background-color:white;
	height:700px;
	float:left;
}
.container1{
	width:350px;
	background-color: lightgray;
	height:800px;
	position:absolute;
	left:400px;
	top:100px;
}
.container2{
	width:350px;
	background-color:lightgray;
	height:700px;
	position:absolute;
	left:800px;
	top:125px;
}
body{
	background-color: #CCCCFF; 
}