img{
	max-width:90%;
}
body{
	background-color: red;
}
#container{
	width:50vw;
	margin:2px auto;
	background-color:white;
	line-height: 25px;
}
.headline{
	width:50vw;
	margin:5px auto;
	background-color:purple;
}
.intro{
	width:50vw;
	margin:35px auto;
}
.center{
	display:block;
	margin-left: auto;
	margin-right:auto;
	width:90%;
}

h1{
	text-align: center;
	color:white;
	line-height: 60px;
}
h2{
	text-align:center;
}
h3{
	text-align:center;
	font-family:'Lustria', serif;
}
h4{
	font-family:'Lustria', serif;
	text-align:center;
}
p{
	font-family:'Lustria', serif;
	margin-left:5px;
	margin-right:5px;
	text-align:justify;
	font-size:16px;
} 
@media only screen and (max-width:600px){
	body{background-color:tomato;}
	.headline{
		width:100%;
		background-color:#9988FF;
		width:75vw;
		text-align:left;
	}
	#container{
		width:75vw;
		text-align: left;
	}
	h1{
	text-align: left;
	line-height: 35px;
	margin-left:5px;
}
h3{
	text-align:left;
	margin-left:5px;
}
h4{
	text-align:left;
	margin-left:5px;
}
p{
	text-align: left;
}
}